<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>Clicking Bad</title>

<script>
var has_gaq = false;
var has_loggly = false;

{% include 'jquery.min.js' %}
</script>
<script>
{% include 'mustache.js' %}
</script>

<script>
{% include 'base64.js' %}
</script>
{% if not isapp %}
    {% include "google.html" %}
    {% include "loggly.html" %}
{% endif %}

<style type="text/css">
{% include "game.css" %}
</style>

</head>

<body>

<script>

// Include the main game stuff
{% include 'game.js' %}

// SETUP
var gm = new Game();
$(document).ready(function() {
    gm.setup_display();
    tmr = setInterval("gm.tick()", tick_ms);
    sec_tmr = setInterval("gm.sec_tick()", 1000);
    save_tmr = setInterval("gm.do_save()", 30000);
    event_tmr = setInterval("gm.check_events()", 120000);
    ver_tmr = setInterval("gm.check_version()", 620000);
    gm.do_load();
    message('Welcome to '+gm.get_title()+', bitch.');


    // Events
    var bind_type = 'click';
    if ('ontouchstart' in window) {
        bind_type = 'touchstart click';
    } else if(window.navigator.msPointerEnabled) {
        bind_type = 'touchstart click';
    }

    $('#make_btn').bind(bind_type, function(e) { 
        gm.do_make_click();
        {% if not isapp %}
        var elc = $('.make_up:first').clone()
        elc.html('+'+pretty_bigint(gm.get_click_make_amount()));
        $('#make_div').append(elc);
        elc.show();
        elc.offset({left:e.pageX-30, top:e.pageY-50});
        var end_y = e.clientY-150;
        elc.css('opacity',100);
        if(last_float == 1) { 
            var this_float = e.pageX;
            last_float = 0;
        } else { 
            var this_float = e.pageX - 60;
            last_float = 1; 
        }
        elc.animate({'top':end_y.toString()+'px', 'opacity':0, 'left':this_float.toString()+'px'}, 750, function() { 
            $(this).remove();
        });
        {% endif %}
    });

    $('#sell_btn').bind(bind_type, function(e) { 
        var sale = gm.do_sell_click();
        if(sale == 0) { 
            return;
        }
        {% if not isapp %}
        var elc = $('.sell_up:first').clone()
        elc.html('$'+pretty_bigint(sale*gm.get_widget_roi()));
        $('#sell_div').append(elc);
        elc.show();
        elc.offset({left:e.pageX-30, top:e.pageY-50});
        var end_y = e.clientY-150;
        elc.css('opacity',100);
        if(last_float == 1) { 
            var this_float = e.pageX;
            last_float = 0;
        } else { 
            var this_float = e.pageX - 60;
            last_float = 1; 
        }
        elc.animate({'top':end_y.toString()+'px', 'opacity':0, 'left':this_float.toString()+'px'}, 750, function() { 
            $(this).remove();
        });
        {% endif %}
    });

    // End actions
    switch_tab('clickers');
    $('button').attr('disabled', false);
});


</script>

<div id="left_wrap" class="left_width">
    <div id="make_sell_spacer"></div>  
    <div id="left_floatable">     
    <div id="make_sell_wrap">
    <div id="make_div">
        <p>
            <span id="make_lbl">widgets</span>
            (purity is <em><span id="make_qlt">NA</span></em>)<br />
            <strong><span id="make_amt">0</span></strong><br />
            <small><span id="clicker_rps">0</span> per second (net)</small><br />
            <small><span id="clicker_rps_g">0</span> per second (gross)</small>
        </p>
        <div id="make_btn">make</div>
    </div>

    <div id="sell_div">
        <p>
            <span id="sell_lbl">cash</span>
            ($<span id="sell_roi">0</span> ea)<br />
            $<strong><span id="sell_amt">0</span></strong><br />
            <small>$<span id="safe_cash">0</span> laundered</small><br />
            <small>$<span id="seller_rps">0</span> per second</small>
        </p>
        <div id="sell_btn">sell</div>
    </div>
    <div class="clear"></div>
    </div>

    <div id="make_sell_pad"></div>

    <div id="risk_div" class="small">
        You have a <b><span id="risk_level">low</span></b> chance of a DEA raid
        (<b><span id="risk_amount">0</span>%</b>)<br />
        You have a <b><span id="risk2_level">low</span></b> chance of an IRS audit
        (<b><span id="risk2_amount">0</span>%</b>)
    </div>
    <div id="last_saved">Game saved 60 seconds ago</div>
    <div id="last_message">No new messages</div>
    </div> <!-- End left floatable -->
</div> <!-- End left_wrap -->

<div id="tab_btns" class="tabs">
    <div id="updated" class="w_div">The game has been updated! It may be wise to create a backup before refreshing.</div>
    <button onclick="switch_tab('clickers');" id="clickers_tab" class="tab">
        Manufacturing (<span id="clickers_unlocked">0</span>/<span id="clickers_total">0</span>)
    </button>
    <button onclick="switch_tab('sellers');" id="sellers_tab" class="tab">
        Distribution (<span id="sellers_unlocked">0</span>/<span id="sellers_total">0</span>)
    </button>
    <button onclick="switch_tab('upgrades');" id="upgrades_tab" class="tab">
        Upgrades (<span id="upgrades_unlocked">0</span>/<span id="upgrades_total">0</span>)
    </button>
    <button onclick="switch_tab('banks');" id="banks_tab" class="tab">
        Laundering (<span id="banks_unlocked">0</span>/<span id="banks_total">0</span>)
    </button>
    <button onclick="switch_tab('achievements');" id="achievements_tab" class="tab">
        Achievements (<span id="achievements_unlocked">0</span>/<span id="achievements_total">0</span>)
    </button>
    <button onclick="switch_tab('messages');" id="messages_tab" class="tab">
        All Messages
    </button>
    <button onclick="switch_tab('misc');" id="misc_tab" class="tab">
        Options &amp; Stats
    </button>
</div>

<div id="tab_divs">

    <div class="tab_div" id="clickers_div" style="display:none;">
        <div id="clickers"></div>
    </div>

    <div class="tab_div" id="sellers_div" style="display:none;">
        <div id="sellers"></div>
    </div>

    <div class="tab_div" id="upgrades_div" style="display:none;">
        <div id="upgrades"></div>
    </div>

    <div class="tab_div" id="banks_div" style="display:none;">
        <div class="w_div">
            <h3>
                <a href="#" onclick="$('#toggle_finance_info').toggle(100); return false;">
                Laundering 
                </a>
                <small class="pull_right">$<span id="bank_rps">0</span>/sec</small>
            </h3>
            <div id="toggle_finance_info">
            <p class="small">Total laundered <b>$<span id="bank_total">0</span></b>
                <br /><br />
                Laundered cash is the amount of <em>your total cash</em> that is 
                safe from being stolen or
                seized by the DEA or IRS. The more laundered to 
                total cash you have, the lower the likelihood that 
                you'll be audited. Laundered cash is not a separate resource,
                so it can never be higher than your total cash.
                
                </p>
            </div>
        </div>
        <div id="banks"></div>
    </div>

    <div class="tab_div" id="achievements_div" style="display:none;">
        <div id="achievements"></div>
    </div>

    <div class="tab_div" id="messages_div" style="display:none;">
        <div id="messages" style="text-align: left;"></div>
    </div>

    <div class="tab_div w_div" id="misc_div" style="display:none;">
        <div class="pull_left space_left">
            <h3>Instructions</h3>
            <ol>
                <li>Cook batches of meth</li>
                <li>Sell meth</li>
                <li>Buy stuff with your drug money</li>
            </ol>
        </div>

        <div class="pull_left space_left">
            <h3>Options</h3>
                <button onclick="gm.do_reset_confirm();">Reset</button>
                <button onclick="gm.do_reset_all_confirm();">Reset All</button>
                <button onclick="gm.do_save();">Save</button>
                <button onclick="gm.do_load();">Load</button>
        </div>
        
        {% if not isapp %}
        <div class="pull_left space_left">
            <h3>Backup</h3>
            <textarea id="impexp" style="width: 100%; height: 100px;"></textarea>
            <br>
            <button onclick="gm.do_export();">Create backup</button>
            <button onclick="gm.do_import();">Import backup</button>
        </div>
        {% endif %}

        <div class="pull_left space_left">
            <h3>Stats</h3>
            <ul>
                <li>Batches cooked: <b><span id="made_widgets">0</span></b></li>
                <li>Batches hand-cooked: <b><span id="hand_made_widgets">0</span></b></li>
                <li>Batches sold: <b><span id="sold_widgets">0</span></b></li>
                <li>Batches hand-sold: <b><span id="hand_sold_widgets">0</span></b></li>
                <li>Total upgrades purchased: <b><span id="bought_upgrades">0</span></b></li>
                <li>Total cash earned: <b>$<span id="total_cash">0</span></b></li>
                <li>Total cash spent: <b>$<span id="total_spent">0</span></b></li> 
                <li>Seconds spent playing: <b><span id="time_played">0</span></b></li>
                <li>Batches made per click: <b><span id="click_make_amount">0</span></b></li>
                <li>Batches sold per click: <b><span id="click_sell_amount">0</span></b></li>
            </ul>    
        </div>

        <div class="pull_left space_left">
            <h3>Credits</h3>
            <ul>
                <li><b>Aaron Meier</b> 
                    - Programming and design</li>
                <li><b>Cody Stevens</b> 
                    - Name</li>
                <li><b>Dustin Lee</b> 
                    - Concept</li>
                <li>
                    <b>
                        <a href="https://github.com/nullism/clickingbad" target="_blank">GitHub</a> 
                        Contributors</b> -
                    nullism, Pringley, atomicstack, dakotacody, csssuf, TooDumbForAName, gmmeyer, paac, jwalt333
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="make_up"></div>
<div class="sell_up"></div>

{% include "tpls.html" %}

{% if isapp %}
    <p class="small light_grey">Version {{version}}</p>
{% else %}
    {% include "footer.html" %}
{% endif %}
</body>
</html>
