{% extends 'base.html' %}
{% block title %}Thank you!{% endblock %}
{% block content %}
<h1>Thank you!</h1>
<div style="background: #fff; padding: 10px; border-radius: 10px;">
    <p>Now we can keep the servers running with all the traffic. And, more exciting for you, we can make Clicking Bad more fun.</p>
    <p><b>Because you rock so much</b> you can now get a secret upgrade in your game</p>

    <h3>To claim your prize</h3>
    <ol>
        <li>Navigate to the Options &amp; Stats tab</li>
        <li>In the "Backup" section, type in or copy &amp; paste "<code>THANK YOU!</code>" exactly as it appears without the quotes</li>
        <li>Click the "Import backup" button</li>
        <li>You should see a message showing the upgrade has been applied!</li>
    <ol>

</div><p></p>
{% endblock %}
